<!DOCTYPE html>
<html>
    <head>
        <title><%= client.user.username %> - Payment Gateway</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body class="bg-dark">
        <div class="header">
            <nav class="navbar navbar-expand-sm navbar-light bg-dark navbar-dark">
                <a class="navbar-brand" href="#">
                    discord.pay
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <button class="btn btn-outline-primary my-2 my-sm-0 navbar-right" id="home" type="submit" onclick="window.location.replace(window.location.protocol + '//' + window.location.host)">Home</button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <button class="btn btn-outline-primary my-2 my-sm-0 navbar-right" id="github" type="submit" onclick="window.open('https://github.com/repyh/discord.pay')">Github Repository</button>
                </div>        
            </nav>
        </div>
        <h1 class="title"><%= client.user.username %></h1>
        <div class="form-wrapper">
            <form>
                <div class="mb-3">
                    <select id="items" class="form-select bg-dark btn-outline-primary input">
                        <% for(const item of items) {                                %>
                        <%    %><option><%=item.name%> - $<%=item.price%></option><% %>
                        <% }                                                         %>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" id="inputUser" class="form-control bg-dark btn-outline-primary input" placeholder="Discord ID" required>
                </div>
                <div class="form-check">
                    <input class="form-check-input bg-dark btn-outline-primary" type="checkbox" value="" id="save-id">
                    <label class="form-check-label save" for="flexCheckDefault">
                      Save my ID
                    </label>
                </div>
                <button type="submit" class="btn btn-primary purchase bg-dark">Purchase</button>
            </form>
        </div>
    </body>
    <script src="script.js"></script>
</html>
